* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: rgb(227, 32, 34);
    --secondary-color: #242424;
    --color: #fff;
    --black: #000;
    --grey: #4b4b4b;
    --green: #2bbf64;
    --blue: #337ae5;
    --brown: #db6b3b;
    --text-color: #cbcbcb;
    --font: "Inter", sans-serif;
}


body {
    font-family: "Inter", sans-serif;
}

ul,
ol {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

button {
    border: 0;
    cursor: pointer;
    background: none;
}

img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

a,
span {
    display: inline-block;
    text-decoration: none;
}

section {
    margin-block: 60px;
}

.container {
    max-width: 1140px;
}

.ad {
    width: 100%;
    margin-block: 20px;
}

.red {
    transition: all .5s;

    &:hover {
        color: var(--primary-color);
    }
}

.star_rating {
    color: var(--primary-color);
    display: flex;
    font-size: 10px;
}

/* prevoius, next button */
.prev {
    color: var(--text-color);
    font: 700 13px arial;
    padding: 5px 15px;
    text-transform: uppercase;

    &:hover {
        color: #eca587;
    }
}

.next {
    border: 1px solid var(--text-color);
    padding: 5px 15px;
    text-transform: uppercase;
    font: 700 13px arial;

    &:hover {
        color: var(--brown);
    }
}

.pageshow {
    color: #717171;
    font: 400 13px var(--font);
    margin-left: 8px;
}

/* prevoius, next button */

.sec-heading {
    padding-block: 5px;
    border-top: 3px solid var(--primary-color);
    border-bottom: 1px solid var(--text-color);

    & h2 {
        margin-block: 5px;
        text-transform: uppercase;
        font: 700 14px var(--font);
    }

    & a {
        color: var(--black);
        text-transform: uppercase;
        font: 500 13px var(--font);
    }

    .section_links {
        display: flex;
        gap: 20px;
    }
}

.bd-top-g {
    border-top: 3px solid #2bbf64;
}

.bd-top-b {
    border-top: 3px solid #337ae5;
}

.news_box {
    position: relative;
    margin: 0;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(164, 165, 164, 0.4);
    }

    .news_imgage {
        min-height: 460px;

    }

    .main_content {
        position: absolute;
        inset: 70% 10px;

        .news_headling {
            margin-block: 6px;
            color: var(--color);
            font: 700 27px/25px var(--font);
        }

        .news_date {
            color: var(--text-color);
            font: 400 11px/16px var(--font);
        }

        .count {
            color: var(--text-color);
            font: 400 13px var(--font);
        }
    }
}

.article {
    margin-top: 20px;

    .article_img img {
        aspect-ratio: 1/0.7;
    }

    .article-heading {
        font: 700 19px var(--font);
        color: var(--black);
    }

    .top-heading {
        font: 700 16px var(--font);
        color: var(--black);
    }

    .read_count {
        margin-left: 5px;
        color: var(--brown);
    }

    .article_details,
    .count {
        color: var(--black);
        margin-block: 5px;
        font: 400 11px var(--font);

        .writer-name {
            text-transform: uppercase;
        }

        & i {
            margin-right: 7px;
        }
    }

    .article_content {
        font: 400 14px var(--font);
        margin-block: 8px;
    }

    .readme_btn {
        font: 700 13px var(--font);
        margin-block: 8px;
        color: var(--black);
        border: 1px solid var(--text-color);
        text-transform: uppercase;
        padding: 6px 16px;

        &:hover {
            color: var(--primary-color);
        }
    }

    .article-b.readme_btn:hover {
        border: 1px solid var(--blue);
    }

    .article-g.readme_btn:hover {
        border: 1px solid var(--green);
    }
}

.article-br:hover {
    color: var(--brown);
}

.news_category {
    font: 700 10px var(--font);
    padding: 5px 8px;
    letter-spacing: 1px;
    border-radius: 3px;
    text-transform: uppercase;
    color: var(--color);
    background: var(--primary-color);
}

.news_list {
    .n_img {
        width: 110px;
        height: 75px;
        object-fit: cover;
    }

    .title {
        color: var(--black);
        font: 700 16px var(--font);

        &:hover {
            color: var(--primary-color);
        }
    }

    .date {
        font: 400 11px var(--font);
    }

    .news_divsion {
        padding-bottom: 8px;
        border-bottom: 1px solid var(--text-color);
    }
}

/* scoial media links  css*/
#s_media {
    background: var(--color);
    max-width: 290px;
    transition: all .5s;
}


.scoial_media {
    display: flex;
    flex-direction: column;
    align-items: center;

    & i {
        border-radius: 50%;
        color: var(--color);
        width: 70px;
        height: 70px;
        line-height: 70px;
        font-size: 25px;
        text-align: center;
        margin-block: 5px;
    }

    .scoial_page,
    .tagline {
        color: var(--text-color);
        margin-bottom: 2px;
        text-transform: uppercase;
        font: 500 8px var(--font);
    }

    .scoial_page {
        color: var(--grey);
        font: 500 12px var(--font);
    }
}

/* header css  */
header {
    border-top: 3px solid var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
}

#infobar {
    background: var(--secondary-color);
    font: 400 13px var(--font);

    .top_links {
        display: flex;
        align-items: center;

        .info-links {
            width: 100%;
            display: flex;
            justify-content: space-around;

            .links {
                color: var(--color);
            }
        }
    }

    .social-links {
        color: var(--color);

        &:hover {
            color: var(--primary-color);
        }
    }
}

#site-time {
    display: flex;
    align-items: center;
}

#site-time,
.fa-clock {
    color: var(--text-color);
}

#tag {
    text-transform: uppercase;
    padding: 16px 10px;
    color: var(--color);
    background: var(--primary-color);
}

#headlines {
    padding-block: 15px;
    margin: 0 auto;
    display: flex;

    .head_news {
        color: var(--color);

        .news_date {
            color: var(--text-color);
        }
    }
}

#merimag_header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .merimag-logo i {
        display: none;
    }

    .ad_block {
        padding: 10px 0;
        position: relative;

        .ad-btn {
            position: absolute;
            inset-block: 32%;
            right: 20px;
        }

        .main-btn {
            text-transform: uppercase;
            padding: 10px 20px;
            border-radius: 10px;
            color: var(--color);
            font: 700 12px var(--font);
            background: var(--primary-color);
        }
    }
}

nav {
    .track {
        width: 100%;
        height: 4px;
        background: #f0f0f0;
    }
}

#primary-menu {
    display: flex;

    a.active {
        color: var(--primary-color);
        border-top: 3px solid var(--primary-color);
        position: relative;
        top: -3px;

        &:hover {
            &::before {
                display: none;
            }
        }
    }

    & li:first-child a {
        &::before {
            display: none;
        }
    }

    & a {
        line-height: 48px !important;
        color: var(--black);
        margin-inline: 10px;
        text-transform: uppercase;
        font: 600 13px var(--font);
        position: relative;
        transition: all .5s;

        .fa-solid {
            margin-inline: 5px;
        }

        &::before {
            content: "";
            position: absolute;
            top: -4.5px;
            left: 0;
            width: 0;
            height: 3px;
            border-top: 3px solid var(--primary-color);
            background: var(--primary-color);
            transition: all .5s;
        }

        &:hover {
            color: var(--primary-color);

            &::before {
                width: 100%;
            }
        }
    }
}

#search {
    background: var(--color);
}

#searchbox {
    opacity: 0;
    visibility: hidden;
    width: 250px;
    padding: 15px 20px;
    box-shadow: 0 0 20px 3px var(--text-color);
    position: absolute;
    transition: all .8s;

    & input {
        width: 84%;
        padding: 2px 3px;
    }

    .fa-solid {
        color: var(--color);
        background: var(--primary-color);
    }
}

#searchbox.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(52px);
}

/* header css ended */
/* Main css */
#news_masonary {
    column-count: 3;
    gap: 10px;

    .news {
        display: inline-block;
        width: 100%;
        position: relative;

        .news_img {
            position: relative;
            z-index: -999;
            height: 100%;
            object-fit: cover;
        }

        .news_head {
            position: absolute;
            left: 10px;
            bottom: 10px;
            z-index: 999;

            .news_category {
                font: 700 10px var(--font);
                padding: 5px 8px;
                border-radius: 3px;
                text-transform: uppercase;
                color: var(--color);
                background: var(--primary-color);
            }

            .news_headling {
                margin-block: 6px;
                color: var(--color);
                font: 700 22px/25px var(--font);
            }

            .news_date {
                color: var(--text-color);
                font: 400 11px/16px var(--font);
            }
        }
    }

    .item-1 {
        height: 365px;
    }

    .item-2 {
        height: 180px;
    }
}

/* Hover colors effect */
#general_news {
    & a:hover:not(.news_category) {
        color: var(--green);
    }

    .news_category {
        background: var(--green);
    }
}

#event_news {
    & a:hover:not(.news_category) {
        color: var(--blue);
    }

    .news_category {
        background: var(--blue);
    }
}

#top_news {
    & a:hover:not(.news_category) {
        color: var(--brown);
    }

    .news_category {
        background: var(--brown);
    }
}

/* background overlay */
#backgorundOverlay {
    padding: 50px 0;
    clip-path: polygon(25% 6%, 100% 1%, 100% 99%, 100% 96%, 0 100%, 0 0);
    background: url(../images/49-13.jpg) no-repeat center center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(227, 32, 34, .8);
    }

    .row {
        position: relative;
        z-index: 10;
    }
}

#overlay_head {
    margin-block: 30px;
    display: flex;
    gap: 10px;
    justify-content: center;

    .fa-play {
        font-size: 80px;
        color: var(--color);
    }

    & img {
        width: 30%;
        height: 100px;
        filter: brightness(1000);
    }
}

#news_grid {
    .news_article {
        position: relative;

        & img {
            height: 350px;
        }

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
        }

        .play_btn {
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 1;
            font-size: 20px;
            padding: 5px 10px;
            border-radius: 4px;
            background: #d5d5cd;

            & i {
                color: var(--black);
            }
        }

        .news_desc {
            position: absolute;
            bottom: 0;
            padding: 20px;
            background: rgba(0, 0, 0, 0.5);

            .heading {
                font: 700 18px var(--font);
                color: var(--color);
            }

            .news_article_date {
                font: 400 11px var(--font);
                color: var(--text-color);
            }
        }
    }
}

/* feautured news section */
#featured_news {
    .bg-color {
        background: #fee7e5;
        padding: 30px;
    }

    .bg-color+img {
        margin-top: 40px;
    }

    .buttons {
        margin-top: 20px;

        & button {
            border: 1px solid var(--primary-color);

        }

        .prev {
            color: #aa9d9c;
        }

        .next:hover {
            color: var(--primary-color);
        }
    }
}

#news_block {
    padding-bottom: 20px;
    border-bottom: 1px solid #efaaa9;

    .article {
        display: flex;
        border: 1px solid #efaaa9;

        .article_img:not(ul .article .article_img) {
            flex-basis: 100%;
        }

        .article_desc {
            padding: 8px;

            .top-heading:not(ul .article .top-heading) {
                margin-top: 15px;
                font-size: 22px;
                line-height: 29px;

                &:hover {
                    color: var(--primary-color);
                }
            }

            .article_details {
                margin-top: 10px;
            }

            .article-content {
                margin-top: 10px;
                color: var(--grey);
                font: 400 13px/18px var(--font);
            }

            .readme_btn {
                margin-bottom: 0;
                border-color: #efaaa9;

                &:hover {
                    color: var(--primary-color);
                }
            }
        }
    }
}

#Categories_links {
    margin-top: 30px;
    font: 500 13px var(--font);

    & li {
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #f2f2f2;

        & a {
            width: 100%;
            color: var(--black);

            & i {
                font-size: 10px;
                margin-right: 5px;
            }

            .number {
                float: right;
                padding: 5px 6px;
                color: var(--color);
                background-color: var(--primary-color);
            }
        }
    }
}

.line {
    margin-top: 10px;
    border: 0.5px solid #e5e5e5;
}

.load_btn {
    width: 100%;
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
    padding: 10px 20px;
    font: 500 15px var(--font);
    color: var(--color);
    background: var(--primary-color);
}

/* tabs css */
#tab {
    padding: 0;
    border: 1px solid lightgray;

    .tabs_links {
        display: flex;

        & button {
            color: var(--secondary-color);
            background: #e5e5e5;
            flex-grow: 1;
            padding: 15px 10px;

            & i {
                font-size: 20px;
            }

            &:hover {
                color: var(--primary-color);
            }
        }

        & button.active {
            border-top: 3px solid var(--primary-color) !important;
            border: 1px dashed var(--primary-color);
            color: var(--primary-color);
            background: var(--color);

            &:hover {
                border-style: none;
            }
        }
    }

    .tab_content {
        margin-top: 20px;
        padding-bottom: 10px;
        display: none;

        .article {
            display: flex !important;
            gap: 10px;
            margin: 10px;
            border-bottom: 1px solid lightgray;

            .article_img img {
                width: 90px;
                height: 80px;
            }
        }

        .comments {
            display: flex;
            gap: 20px;
            align-items: center;
            margin: 10px;

            & p {
                margin: 0;
            }

            .user_img img {
                border-radius: 50%;
            }

            .desc .user_name {
                color: #6d6d6d;
                font: 700 16px var(--font);
            }

            .desc .usesr_comment {
                color: var(--grey);
                font: 500 16px var(--font);

                &:hover {
                    color: var(--primary-color);
                }
            }
        }
    }

    .tab_content.show {
        display: block;
    }
}

/* tabs css ended */
/* contact block */
#contact_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 28px;
    margin-top: 20px;
    color: var(--color);
    background: var(--primary-color);

    & i {
        font-size: 70px;
        margin-block: 10px 25px;
    }

    .headline {
        text-align: center;
        font: 700 28px var(--font);
    }

    .line {
        width: 80px;
        height: 1px;
        margin-block: 10px 25px;
        background: var(--color);
    }

    .details {
        font: 400 16px/20px var(--font);
        text-align: center;
        margin-bottom: 25px;
    }

    & input {
        border: 0;
        padding: 10px;
        width: 100%;
        margin-block: 10px;

        &[type="submit"] {
            text-transform: uppercase;
            color: var(--grey);
            background: var(--color);
        }
    }
}

/* Main css ended */
/* footer */
footer {
    color: var(--color);
    background: var(--secondary-color);

    .line {
        width: 100%;
        height: 1px;
        background: #2f2f2f;
    }
}

#footer_sidebar {
    padding: 30px;

    & p {
        margin: 0;
        color: var(--color);
    }

    .footer-links {
        font-size: 14px;
        border-radius: 5px;
        padding: 10px;
        color: var(--color);
        background: var(--primary-color);
    }
}

#trending {
    margin-block: 40px;

    & h5 {
        text-transform: uppercase;
        font: 700 26px var(--font);
        text-align: center;
    }
}

#footer_tag {
    display: flex;
    gap: 20px;
    align-items: center;

    .footer_tag_items {
        font: 500 16px var(--font);
        padding: 10px;
        border-radius: 5px;
        border: 1px solid var(--color);
        color: var(--color);
    }
}

#copyright_section {
    padding: 30px;
    background: #111111;

    .merimag_copyright {
        font: 400 14px var(--font);
    }

    .merimag_links {
        float: left;
    }

    .footer-links,
    .merimag_links a {
        font-size: 14px;
        color: var(--color);

        &:hover {
            color: var(--primary-color);
        }
    }
}

/* media query */
@media (max-width: 1200px) {
    body {
        border: 1px solid #000;
    }
}

@media (max-width: 992px) {
    section {
        margin-block: 50px;
    }

    #news_masonary {
        columns: 2;
    }

    #merimag_header {
        padding: 15px 0;

        .merimag-logo {
            display: flex;
            gap: 20px;
            align-items: center;

            .fa-solid {
                display: block;
            }

            .fa-magnifying-glass {
                margin-left: auto;
            }
        }
    }

    #footer_sidebar {
        & img {
            max-width: 50%;
            margin: 20px auto;
        }

        & p {
            text-align: center;
            margin: 20px 0;
        }
    }

    #footer_tag {
        margin: 20px 0;
        overflow: hidden;
    }

    #copyright_section {
        .merimag_copyright {
            text-align: center;
        }

        .merimag_links {
            float: none;
            margin-bottom: 10px;
        }
    }
}


@media (max-width: 768px) {
    section {
        margin-block: 40px;
    }

    .sec-heading .section_links {
        & :nth-child(7) {
            display: none;
        }

        & :nth-child(6) {
            display: none;
        }

        & :nth-child(5) {
            display: none;
        }
    }

    #lastest-news {
        margin: 20px 0;
    }

    #news_grid .news_article {
        margin-bottom: 10px;
    }
}

@media (max-width: 576px) {
    #news_masonary {
        columns: 1;
    }
}