* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #e32022;
    --secondary-color: #242424;
    --color: #fff;
    --black: #000;
    --grey: #4b4b4b;
    --text-color: #cbcbcb;
    --font: "Inter", sans-serif;
}

body {
    font-family: "Inter", sans-serif;
}

ul,
ol {
    list-style: none;
}

button {
    border: 0;
    cursor: pointer;
}

img {
    display: block;
}

a,
span {
    display: inline-block;
    text-decoration: none;
}

section {
    margin-block: 60px;
}

.container {
    max-width: 1140px;
}

.bd {
    border: 1px solid #000;
}

.main-btn {
    border-radius: 10px;
    color: var(--color);
    font: 700 12px var(--font);
    background: var(--primary-color);
}

.ad-btn {
    top: 22px;
    right: 20px;
}

.red {
    transition: all .5s;

    &:hover {
        color: var(--primary-color);
    }
}

/* header css  */
header {
    border-top: 3px solid var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
}

#infobar {
    background: var(--secondary-color);
    font: 400 13px var(--font);

    .info-links,
    .social-links {
        color: var(--color);

        &:hover {
            color: var(--primary-color);
        }
    }
}

#site-time,
.fa-clock {
    color: var(--text-color);
}

#tag {
    padding: 16px 10px;
    color: var(--color);
    background: var(--primary-color);
}

#headlines {
    overflow: hidden;

    .head_news {
        color: var(--color);

        .news_date {
            color: var(--text-color);
        }
    }
}

nav {
    .track {
        width: 100%;
        height: 4px;
        background: #f0f0f0;
    }
}

#primary-menu {
    .active {
        color: var(--primary-color);
        border-top: 3px solid var(--primary-color);
        position: relative;
        top: -3px;
    }

    & li:first-child a {
        &::before {
            display: none;
        }
    }

    & a {
        line-height: 48px !important;
        color: var(--black);
        padding-inline: 15px;
        text-transform: uppercase;
        font: 600 13px var(--font);
        position: relative;
        transition: all .5s;

        .fa-solid {
            margin-inline: 5px;
        }

        &::before {
            content: "";
            position: absolute;
            top: -4px;
            left: 0;
            width: 0;
            height: 3px;
            border-top: 2px solid var(--primary-color);
            background: var(--primary-color);
            transition: all .5s;
        }

        &:hover {
            color: var(--primary-color);

            &::before {
                width: 100%;
            }
        }
    }
}

#search {
    background: var(--color);
}

#searchbox {
    opacity: 0;
    visibility: hidden;
    width: 250px;
    padding: 15px 20px;
    box-shadow: 0 0 20px 3px var(--text-color);
    position: absolute;
    transition: all .8s;

    & input {
        width: 84%;
        padding: 2px 3px;
    }

    .fa-solid {
        color: var(--color);
        background: var(--primary-color);
    }
}

#searchbox.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(50px);
}

/* header css ended */
/* Main css */
#news_masonary {
    .news {
        margin: 2px;
        position: relative;
        .news_img{
            position: relative;
            z-index: -999;
        }

        .news_head {
            position: absolute;
            left: 10px;
            bottom: 10px;
            z-index: 999;

            .news_category{
                font: 700 10px var(--font);
                padding: 5px 8px;
                border-radius: 3px;
                text-transform: uppercase;
                color: var(--color);
                background: var(--primary-color);
            }
            .news_headling{
                margin-block: 6px;
                color: var(--color);
                font: 700 22px/25px var(--font);
            }
            .news_date{
                color: var(--text-color);
                font: 400 11px/16px var(--font);
            }
        }
    }
}

/* Main css ended */